    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.spell.title"}}</h4>
    <table style="background-color: transparent; border: 1px">
    	<tr>
    	  <td rowspan="2">
    	  	 <div class="edge-roll" >
    	      <img src="systems/shadowrun6-eden/images/magic-swirl.svg" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
    	    </div>
	     </td>
    	  <td colspan="4">
   	    <table class="spell-table">
   	      <tr>
   	    	  <th>{{localize 'shadowrun6.spell.range'}}</th>
              <th>{{localize 'shadowrun6.spell.type'}}</th>
              <th>{{localize 'shadowrun6.spell.duration'}}</th>
              <th>{{localize 'shadowrun6.spell.drain'}}</th>
              <th>{{localize 'shadowrun6.spell.area'}}</th>
              <th>{{localize 'shadowrun6.spell.damage'}}</th>
   	      </tr>
   	  	   <tr>
   	  	   	{{log "partRollDialogSpell.html " this}}
   	  		  <td>{{data.spell.range}}</td>
    	  		  <td>{{data.spell.type}}</td>
   	  		  <td>{{data.spell.duration}}</td>
   	  		  <td>{{data.spell.drain}}</td>
   	  		  <td>{{CONFIG.SR6.spell_range}}
   	  		  <td>{{data.spell.damage}}</td>
    	  		  <!--td><span name="calcDmg">{{data.calcDmg}}</span> {{#if data.gear.stun}}S{{else}}P{{/if}}</td-->
   	  	   </tr>
   	    </table>
   	  </td>
		</tr>
		<tr>
	     {{#if data.canAmpUpSpell}}
	     <td>{{localize "shadowrun6.roll.spell.ampUp.title"}}</td>
	     <td><select name="ampUp" class="ampUp">
            <option value="0" data-item-ampid="amp0"> - </option>
            <option value="1" data-item-ampid="amp1">{{localize "shadowrun6.roll.spell.ampUp.1"}}</option>
            <option value="2" data-item-ampid="amp2">{{localize "shadowrun6.roll.spell.ampUp.2"}}</option>
        </select></td>
        {{/if}}
    	</tr>
    	<tr>
	     {{#if data.canIncreaseArea}}
	     <td>{{localize "shadowrun6.roll.spell.incArea.title"}}</td>
	     <td><select name="incArea" class="incArea">
            <option value="0" data-item-incid="inc0"> - </option>
            <option value="1" data-item-incid="inc1">{{localize "shadowrun6.roll.spell.incArea.1"}}</option>
            <option value="2" data-item-incid="inc2">{{localize "shadowrun6.roll.spell.incArea.2"}}</option>
        </select></td>
        {{/if}}
    	</tr>
    </table>
	<hr/>
