<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" />
        <div class="header-fields">
            <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" /></h1>
             {{!-- Character Summary --}}
                <div class="description">
                    <input class="autoexpand" name="data.metatype" type="text" value="{{data.metatype}}"
                        placeholder="{{localize 'shadowrun6.metatype'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.gender" type="text" value="{{data.gender}}"
                        placeholder="{{localize 'shadowrun6.gender'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.mortype" type="text" value="{{data.mortype}}"
                        placeholder="{{localize 'shadowrun6.mortype'}}" />
                </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">{{ localize 'shadowrun6.actor.nav.basics' }}</a>
        <a class="item" data-tab="description">{{ localize 'shadowrun6.actor.nav.description' }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Basics Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="basics" >
			<line>
         <div class="section" style="width: 68%">
            {{> "systems/shadowrun6-eden/templates/parts/npc-attributes.html" attributes=data.data.attributes}}
            <dl>
              <dt>{{ localize 'shadowrun6.actor.initiative' }}:</dt>
              <dd>8 + 1d6</dd>
              <dt>{{ localize 'shadowrun6.actor.actions' }}:</dt>
              <dd>Hallo</dd>
            </dl>
          </div>
         <div class="section" style="width: 28%">
         	<h2 class="section-title">{{ localize 'section.qualities' }}</h2>
           Hallo
           </div>
           </line>
        </div>
    </section>
</form>