<form class="pc {{cssClass}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div>
		  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" /><br/><br/>
		</div>
		<div class="header-fields">
			<h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" /></h1>
			{{!-- Character Summary --}}
			<div class="description" style="width: 80%">
				<input class="autoexpand" name="data.metatype" type="text" value="{{data.data.metatype}}"
					placeholder="{{localize 'shadowrun6.actor.metatype'}}" />
				&nbsp;&middot;&nbsp;
				<input class="autoexpand" name="data.gender" type="text" value="{{data.data.gender}}"
					placeholder="{{localize 'shadowrun6.label.gender'}}" />
				&nbsp;&middot;&nbsp;
            <select name="data.mortype" data-field="data.mortype" style="background: rgba(255,255,255,0.25); border: 0px">
            </select>
			</div>
			<div style="display:flex; flex-direction:row; align-items:center;">
			{{> "systems/shadowrun6-eden/templates/parts/monitors.html" attributes=data.data.attributes}}
			{{> "systems/shadowrun6-eden/templates/parts/edge-token.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/nuyen-token.html"}}
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="basics">{{ localize 'shadowrun6.actor.nav.basics' }}</a>
		<a class="item" data-tab="skills">{{ localize 'shadowrun6.actor.nav.skills' }}</a>
		<a class="item" data-tab="combat">{{ localize 'shadowrun6.actor.nav.combat' }}</a>
		{{#with (lookup config.MOR_DEFINITIONS data.data.mortype)}}
		{{#if magic}}
		<a class="item" data-tab="magic" >{{ localize 'shadowrun6.actor.nav.magic'  }}</a>
		{{/if}}
		{{/with}}
		<a class="item" data-tab="matrix">{{ localize 'shadowrun6.actor.nav.matrix' }}</a>
		<a class="item" data-tab="vehicles">{{ localize 'shadowrun6.actor.nav.vehicles' }}</a>
		<a class="item" data-tab="equip" >{{ localize 'shadowrun6.actor.nav.equip'  }}</a>
		<a class="item" data-tab="biography">{{ localize 'shadowrun6.actor.nav.biography' }}</a>
		<!--a class="item" data-tab="description">{{ localize 'shadowrun6.actor.nav.description' }}</a>
		<a class="item" data-tab="items">{{ localize 'shadowrun6.actor.nav.equip' }}</a-->
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
			<div class="attributes" style="margin-bottom: 10px">
				{{> "systems/shadowrun6-eden/templates/parts/attributes-augmented.html" attributes=data.data.attributes}}
			</div>
		  <div style="column-count: 2; margin-right: 5px;">
			{{> "systems/shadowrun6-eden/templates/parts/pc-derived.html" attributes=data.data.attributes}}
		   {{> "systems/shadowrun6-eden/templates/parts/section-qualities.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/initiatives.html" initiative=data.data.initiative}}
		   {{> "systems/shadowrun6-eden/templates/parts/section-bodyware.html"}}
			</div>
	</section>

</form>