.window-header::after {
	display: block;
	content: "";
	position: absolute;
	width: 200px;
	height: 36px;
	left: 50%;
	top: -14px;
	margin-left: -100px;
	background: url(../images/SR6Logo2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

line {
	width: 100%;
	display: block;
}

.section {
	display: inline-block;
	background-color: var(--section-background);
	vertical-align: top;
	border: solid black 1px;
	border-radius: 6px;
	padding: 4px;
}
.section-head {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--highlight-color);
	margin: 0 0 0.5rem 0;
}
.section-head h2 {
	border-bottom: 0px;
	margin: 0px;
}
.section-title {
	color: var(--highlight-color);
}
th {
	color: var(--highlight-color);
	background-color: var(--tablehead-background);
}
.sheet-body * table{
	background-color: rgba(0,0,0,0);
	border-top: 0px;
	border-bottom: 0px;
}
.sheet-body * thead {
	background-color: var(--tablehead-background);
	text-shadow: none;
	border-bottom: 0px;
}
.centered {
	text-align: center;
}
input.centered {
	text-align: center;
}

#barPhyMax {
    width: 20rem;
    background-color: transparent;
}
#barPhyCur {
    background-color: green;
    width: 60%;
    height: 100%;
    text-align: center;
}

#barStunMax {
    width: 20rem;
    background-color: transparent;
}
#barStunCur {
    background-color: blue;
    width: 60%;
    height: 100%;
    text-align: center;
}

.skill-name {
	width: 10em; 
	flex-grow:6; 
	align-self: center;
	justify-content: center;
}

.skill-attrib {
	flex-grow:1.5; 
	align-self: center;
	justify-content: center;
	padding: 0em;
}

.skill-pool {
	width: 2em; 
	flex-grow:1; 
	align-self: center;
	text-align:center;
	font-size: 150%;
}
.item-controls {
	align-self: center;
	padding: 0em;
}
.item-controls a {
	font-size: 120%
}
.item-control {
	color: var(--highlight-color);
}

