@import "color-light.css";
@import "layout.css";

.sheet header.sheet-header {
	align-items: normal;
}
.sheet header.sheet-header img {
  flex: 0 0 120px;
  height: 120px;
}

.shadowrun6 .sheet-header img {
	height: 120px;
}

.shadowrun6 .header-fields h1 {
	width: 80%;
}


.sheet-header .description {
                width: 100%;
                display: flex;
                align-items: center;
            }
.autoexpand {
 box-sizing: content-box;
}
.shadowrun6 input[type="text"]{
        font-variant-numeric: lining-nums;
        border: 0px solid black;
        background: none;
        color: var(--input-color);
        

        padding: 2px;
        padding-bottom: 2px;
        margin: 0;

        vertical-align: baseline;

        display: inline-block;
        height: 100%;
        border-radius: 4px;
 
        font-weight: bold;
 }
