.window-app .window-content {
	background-image: url("../images/borderRight.png"), url("../images/background.png");
	background-position: right top, left top;
	background-repeat: no-repeat, repeat;
}

.sheet header.sheet-header {
	align-items: normal;
}
.sheet header.sheet-header img {
  flex: 0 0 120px;
  height: 120px;
}

.shadowrun6 .sheet-header img {
	height: 120px;
}

.shadowrun6 .header-fields h1 {
	width: 85%;
}
