<section>
	<div class="section">
		<h2 class="section-title">{{ localize 'shadowrun6.section.derived' }}</h2>
		<table>
			<tr>
				<th>Attribute</th>
				<th>Base</th>
				<th>Adj.</th>
				<th>Value</th>
			</tr>
			<tr>
				<th>Physical Condition Monitor</th>
				<td><label for="data.physical.base" title="{{data.physical.base}}">{{data.data.physical.base}}</label></td>
				<td><input class="centered health-phys calcPHY" name="data.physical.mod" type="text" value="{{data.data.physical.mod}}" data-dtype="Number"
				id="dataPhyMod"></td>
				<td><label for="data.physical.max" title="{{data.physical.max}}">{{data.data.physical.max}}</label></td>
			</tr>
		</table>
	</div>
</section>