<section>
	<!-- Action skills -->
   <div class="section">
     <h2 class="section-title">{{ localize 'shadowrun6.section.skills.action' }}</h2>
	  <ol class="item-list">
       {{#each actor.items as |item id|}}
       {{#iff item.type '==' 'skill-value'}}
       {{#iff item.data.data.id '!=' 'knowledge'}}
       {{#iff item.data.data.id '!=' 'language'}}

       <li class="item flexrow" data-item-id="{{item.id}}">
         <h4 class="skill-value skill-key rollable skill-name" data-skill="{{item.data.data.id}}" style="width: 10em; flex-grow:6">{{item.name}}</h4>
         <div class="skill-attrib" style="width: 2em">
           <span>{{localize (concat3 "attrib." (skillAttr item.data.data.id) "_short")}}</span>
         </div>
         <div class="skill-points" style="width: 2em; flex-grow:0.4">
           <input class="skill-value" type="number" name="item.data.data.points" value="{{item.data.data.points}}"  style="width: 2em" />
         </div>
         <div class="skill-pool" style="width: 2em">
           <span>{{item.data.data.pool}}</span>
         </div>
         <div class="item-controls" style="width: 3em; flex-grow:1.5">
           <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
           <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </div>
       </li>
	    {{/iff}}
	    {{/iff}}
	    {{/iff}}
       {{/each}}
     </ol> 
   </div>
     
	<!-- Knowledge skills -->
   <div class="section">
   <h2 class="section-title">{{ localize 'shadowrun6.section.skills.knowledge' }}</h2>
	<ol class="item-list">
       {{#each actor.items as |item id|}}
       {{#iff item.type '==' 'skill-value'}}
       {{#iff item.data.data.id '==' 'knowledge'}}

       <li class="item flexrow" data-item-id="{{item.id}}">
         <h4 class="item-name" style="width: 10em; flex-grow:4">{{item.name}}</h4>
         {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="skill-points" style="flex-grow:2">
                      <input class="skill-value" type="number" name="item.data.data.points" value="{{item.data.data.points}}" />
                    </div>
                    <div class="item-controls" style="flex-grow:1">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
	             {{/iff}}
	             {{/iff}}
                {{/each}}
            </ol> 
     </div>
     
	<!-- Language skills -->
   <div class="section">
   <h2 class="section-title">{{ localize 'shadowrun6.section.skills.language' }}</h2>
	<ol class="item-list">
       {{#each actor.items as |item id|}}
       {{#iff item.type '==' 'skill-value'}}
       {{#iff item.data.data.id '==' 'language'}}

       <li class="item flexrow" data-item-id="{{item.id}}">
         <h4 class="item-name" style="width: 10em; flex-grow:3">{{item.name}}</h4>
         {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="skill-points">
                      <input class="skill-value" type="number" name="item.data.data.points" value="{{item.data.data.points}}" />
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
	             {{/iff}}
	             {{/iff}}
                {{/each}}
            </ol> 
     </div>
</section>