<table>
	<tr>
		<th>{{ localize 'shadowrun6.label.column.name' }}</th>
		<th style="align: center">{{ localize
			'shadowrun6.section.vehicles.column.handling' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.acc' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.spdi' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.tspd' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.bod' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.arm' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.pil' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.sen' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.sea' }}</th>
		<th colspan="2">&nbsp;</th>
	</tr>
</table>